/* ----------------- BASE STYLES ----------------- */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 2000px;
    padding: 0;
    margin: 2rem;
}

h1 {
    margin: 0 0 2rem 0;
}

:root {
    --focus: rgba(0, 0, 0, 0.2);
}

/* ----------------- filter-item STYLES ----------------- */
.content {
    background-color: lightgray;
    border-radius: 0.25rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 1rem;

    margin-top: 2rem;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .content {
        grid-template-columns: 1fr;
    }
}

.content > .filter-item {
    border-radius: 0.25rem;
    cursor: pointer;
    word-break: break-all;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc((100% / 3) - 2rem);

    padding: 1rem;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    min-height: 0;
    
    z-index: 1;
}

.content > .filter-item:nth-child(odd)::before {
    background-color: lightsalmon;
}

.content > .filter-item:nth-child(even)::before {
    background-color: lightseagreen;
}

.content > .filter-item::before {
    content: "";
    opacity: 0.5;

    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.content > .filter-item:hover:before {
    opacity: 0.8;
}

/* ----------------- FILTERS ----------------- */
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.filters > *[data-filter] {
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;

    padding: 0.5rem;
    transition: 0.3s;
}

.filters > *[data-filter]:hover, .filters > *[data-filter].active {
    background-color: var(--focus);
}

.filters > input {
    background-color: rgba(0, 0, 0, 0.07);
    border: 0;
    border-radius: 0.25rem;

    padding: 0.5rem;

    transition: 0.3s;
}

.filters > input:focus-visible {
    outline: none;
    background-color: var(--focus);
}